    body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #f4f4f4;
        }
        header {
            background-color: #333;
            color: white;
            padding: 1rem;
            width: 100%;
            text-align: center;
        }
        button {
            background-color: #333;
            border-radius: 25px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
        }
        .container {
            margin-left: 20px;
            margin-right: 20px;
            padding: 20px;
            background: white;
            border-radius: 25px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 80%;
            max-width: 600px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        .form-group input, .form-group button {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1rem;
        }
        .form-group button {
            background-color: #007bff;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .form-group button:hover {
            background-color: #0056b3;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        ul li {
            background: #f9f9f9;
            margin: 10px 0;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            display: flex;
            align-items: center;
        }
        ul li img {
            width: 50px;
            height: auto;
            margin-right: 15px;
        }
        #loginContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #appContainer {
            display: none;
        }
        #suggestionBox {
            border: 1px solid #ddd;
            background: #fff;
            padding: 10px;
            border-radius: 4px;
            max-height: 150px;
            overflow-y: auto;
            display: none;
        }
        #suggestionBox div {
            display: flex;
            align-items: center;
            padding: 5px;
            cursor: pointer;
        }
        #suggestionBox div img {
            width: 30px;
            height: auto;
            margin-right: 10px;
        }
        #suggestionBox div:hover {
            background-color: #f0f0f0;
        }
